System.Int32 allCamerasCount
System.Single aspect
UnityEngine.Color backgroundColor
System.Boolean clearStencilAfterLightingPass
System.Int32 commandBufferCount
System.Int32 cullingMask
System.Single depth
System.Boolean enabled
System.Int32 eventMask
System.Single far
System.Single farClipPlane
System.Single fieldOfView
System.Single fov
System.Boolean hdr
System.Boolean isActiveAndEnabled
System.Boolean isOrthoGraphic
System.Boolean layerCullSpherical
System.String name
System.Single near
System.Single nearClipPlane
System.Boolean orthographic
System.Single orthographicSize
System.Int32 pixelHeight
System.Int32 pixelWidth
System.Int32 PreviewCullingLayer
System.Single stereoConvergence
System.Boolean stereoEnabled
System.Boolean stereoMirrorMode
System.Single stereoSeparation
System.String tag
System.Int32 targetDisplay
System.Boolean useOcclusionCulling
UnityEngine.Vector3 velocity
