UnityEngine.Color ambientEquatorColor
UnityEngine.Color ambientGroundColor
System.Single ambientIntensity
UnityEngine.Color ambientLight
System.Single ambientSkyboxAmount
UnityEngine.Color ambientSkyColor
System.Int32 defaultReflectionResolution
System.Single flareFadeSpeed
System.Single flareStrength
System.Boolean fog
UnityEngine.Color fogColor
System.Single fogDensity
System.Single fogEndDistance
System.Single fogStartDistance
System.Single haloStrength
System.String name
System.Int32 reflectionBounces
System.Single reflectionIntensity
