System.Boolean alreadyLightmapped
System.Boolean attenuate
System.Int32 bakedIndex
System.Single bounceIntensity
UnityEngine.Color color
System.Int32 commandBufferCount
System.Single cookieSize
System.Int32 cullingMask
System.Boolean enabled
System.Single intensity
System.Boolean isActiveAndEnabled
System.Boolean isBaked
System.String name
System.Int32 pixelLightCount
System.Single range
System.Single shadowBias
System.Single shadowConstantBias
System.Single shadowNearPlane
System.Single shadowNormalBias
System.Single shadowObjectSizeBias
System.Single shadowSoftness
System.Single shadowSoftnessFade
System.Single shadowStrength
System.Single spotAngle
System.String tag
