System.Single angularDrag
UnityEngine.Vector3 angularVelocity
UnityEngine.Vector3 centerOfMass
System.Boolean detectCollisions
System.Single drag
System.Boolean freezeRotation
UnityEngine.Vector3 inertiaTensor
UnityEngine.Quaternion inertiaTensorRotation
System.Boolean isKinematic
System.Single mass
System.Single maxAngularVelocity
System.Single maxDepenetrationVelocity
System.String name
UnityEngine.Vector3 position
UnityEngine.Quaternion rotation
System.Single sleepAngularVelocity
System.Single sleepThreshold
System.Single sleepVelocity
System.Int32 solverIterationCount
System.String tag
System.Boolean useConeFriction
System.Boolean useGravity
UnityEngine.Vector3 velocity
UnityEngine.Vector3 worldCenterOfMass
